/*
* @Author: Administrator
* @Date:   2018-07-30 09:59:34
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-01 14:26:37
*/
footer{width: 100%;height: 54px;position:fixed;bottom:0px;border-top: 1px solid #ccc;background:#fff;}
footer ul{width: 96%;height: 100%;margin:0px auto;}
footer ul li{width: 20%;height:100%;float:left;}
footer ul li a{display: block;width: 100%;height: 100%;}
footer ul li:nth-child(1) a{
	background:url(../images/uik_nav_home_normal.png) no-repeat 0px 0px;
	background-size:93%;
}
footer ul li:nth-child(2) a{
	background:url(../images/uik_nav_weitao_normal.png) no-repeat 0px 0px;
	background-size:93%;
}
footer ul li:nth-child(3) a{
	background:url(../images/uik_nav_message_normal.png) no-repeat 0px 0px;
	background-size:93%;
}
footer ul li:nth-child(4) a{
	background:url(../images/uik_nav_cart_normal.png) no-repeat 0px 0px;
	background-size:93%;
}
footer ul li:nth-child(5) a{
	background:url(../images/uik_nav_my_normal.png) no-repeat 0px 0px;
	background-size:93%;
}




@media(min-width: 375px){
	footer{height: 64px;}
}
@media(min-width: 414px){
	footer{height: 76px;}
}