header{width: 100%;padding-bottom:2%;background:#F9F9F9;overflow: hidden;}
header .top{width: 98%;height: 40px;margin:10px auto 0px;}
header .top ul li{float: left;height: 40px;text-align: center;line-height: 40px;}
header .top ul li img{width: 100%;}
header .top ul li:nth-child(1){width: 10%;}
header .top ul li:nth-child(2){width: 70%;background:#fff;border-radius:20px;margin-left:20px;}
header .top ul li:nth-child(2) input{width: 60%;float: left;height: 40px;border:none;outline: none;margin-left:20px;}
header .top ul li:nth-child(2) img{width: 15%;margin-top:3%;float: right;margin-right: 4%;}
header .top ul li:nth-child(3){width: 10%;float: right;}
header .nav{width: 100%;margin:4% auto;height: 30px;}
header .nav ul li{width: 20%;text-align: center; float: left;height: 30px; }
header .nav ul .list1 a{color:#f40;}
header .nav ul .list1{border-bottom:2px solid #f40;}
header .nav ul li a{font-size: 1rem;color:#000000;}
header .nav ul li a:hover{color:#FF5000};

header .btm{width: 100%;margin:4% auto;border-bottom:1px solid #ccc;height: 30px;}
header .btm ul li{width: 19%;float: left;height:30px;text-align: center;position: relative;}
header .btm ul li img{width: 50%;margin-top: -8%;}
header .btm ul li.list4:after{ display: block;content: "";height: 30px; border-right:1px solid #ccc; position: absolute;right:0px; top:-7px;  } 
header .btm ul li a{color:#333;}
header .btm ul li:nth-child(1) a{color:#f40;};



main{width: 100%;}
main .con1{
	width: 94%;
	margin:5% auto;
	overflow: hidden;
}
main .con1 .left{width: 45%;height: 100%;}
main .con1 .left img{width: 100%;float: left;}
main .con1 .right{width: 51%;float:right;padding-left: 4%;}
main .con1 .right a{color:#223843;}
main .con1 .right p{margin-top: 2%;}
main .con1 .right p:nth-child(1){color:#223843;font-size: .9rem;}
main .con1 .right p:nth-child(2) span{border-radius: 10px;border:1px solid #f40;color:#f40;padding:0px 2%;}
main .con1 .right p:nth-child(2) i{border-radius: 10px;border:1px solid #FFB105;color:#ffb105;padding:0px 2%;margin-left: 2%;}
main .con1 .right p:nth-child(3) span{color:#f40;font-size: 1.1rem;margin-right: 2%;}
main .con1 .right p:nth-child(3){color:#999999;font-size: .7rem;}
main .con1 .right p:nth-child(4){color:#999;}
main .con1 .right p:nth-child(4) a{color:#6C6C6C;margin-left: 2%;}
main .con1 .right p:nth-child(4) i{float: right;}