/*nav*/
#header{width: 100%;height:110px;}
#header .logo{width: 500px;height: 120px;margin-left: 80px;}
#header .logo a img{margin-top:42px;}
#header .nav{width: 700px;height:120px;margin-right:60px;}
#header .nav ul li{float: left;width: 128px;height: 120px;text-align: center;line-height: 120px;}
#header .nav ul li a{font-size:14px;display:block;margin-right: 2px;font-size: 16px;}
#header .nav ul li:nth-child(3) a{background:#F13A3A;color: #fff;}
#header .nav ul li:hover a{background:#F13A3A;color: #fff;}
#header::after{content:"";display:block;clear:both;}

/*banner*/
#banner{width: 100%;height: 300px;background:url(../images/4rAI.jpg) no-repeat center center;margin-top: 10px;}



/*content*/
#content{width:100%;}
#content .Drink{width:1080px;height:600px;background:url(../images/ADo4MiryQEw8wM47QM.png) no-repeat center center;margin:0 auto;}
#content .Drink .title{width: 1080px;height:130px;text-align: center;padding-top: 80px;}
#content .Drink .title h1{font-weight:400;}
#content .Drink .title p{margin-top: 20px;color: #999999;font-size: 14px;}
#content .Drink .list ul li{float:left;width: 200px;text-align: center;margin-left: 70px;}

#content .jpg_list{width: 1200px;height: 742px;margin:0px auto;}
#content .jpg_list .top{width: 1200px;height: 366px;margin-bottom: 4px;}
#content .jpg_list .top .lf{width: 680px;margin-right: 10px;float: left;}
#content .jpg_list .top .rg{width: 510px;float: left;}
#content .jpg_list .btm{width: 1200px;height: 366px;}
#content .jpg_list .btm .lf{width: 510px;float: left;}
#content .jpg_list .btm .rg{float: left;width: 680px;margin-left: 10px;}


/*footer*/
#footer{width: 100%;}
#footer .foot{width: 100%;height: 352px;background:url(../images/wUoub3CqAMwlgE4ogI.jpg) repeat-x 0px 0px;background-size: 100% 100%;margin-top: 70px;}
#footer .foot .top_nav{width: 1030px;height: 262px;margin:0px auto;}
#footer .foot .top_nav .top_ul{width: 100%;height: 130px;border-bottom: 1px solid #434343;}
#footer .foot .top_nav .top_ul  ul{width: 1080px;}
#footer .foot .top_nav .top_ul ul li{float: left;width: 240px;height: 60px;background:red;padding-left: 50px;color: #fff;margin-left: 60px;margin-top: 46px;}
#footer .foot .top_nav .top_ul li span{color:#999999;}
#footer .foot .top_nav .top_ul li.list_1{background:url(../images/jgy.png) no-repeat -8px 0px;}
#footer .foot .top_nav .top_ul li.list_2{background:url(../images/tel.png) no-repeat  -8px  0px;}
#footer .foot .top_nav .top_ul li.list_3{background:url(../images/emall.png) no-repeat  -8px  0px;}
#footer .foot .top_nav .btm_ul ul{width: 700px;	margin:60px auto;}
#footer .foot .top_nav .btm_ul ul li{float: left;}
#footer .foot .top_nav .btm_ul ul li a{padding:0px 44px;border-right: 1px solid #999;color: #999;}
#footer .foot .btm_ul ul li:last-child a{border: none;}
#footer .foot .btm{width: 100%;height:90px;text-align: center;overflow: hidden;}
#footer .foot .btm p{color: #CCCCCC;margin-top: 38px;}
#footer .foot .btm p:last-child{margin-top:0px;}