/*nav*/
#header{width: 100%;height:110px;}
#header .logo{width: 500px;height: 120px;margin-left: 80px;}
#header .logo a img{margin-top:42px;}
#header .nav{width: 700px;height:120px;margin-right:60px;}
#header .nav ul li{float: left;width: 128px;height: 120px;text-align: center;line-height: 120px;}
#header .nav ul li a{font-size:14px;display:block;margin-right: 2px;font-size: 16px;}
#header .nav ul li:nth-child(4) a{background:#F13A3A;color: #fff;}
#header .nav ul li:hover a{background:#F13A3A;color: #fff;}
#header::after{content:"";display:block;clear:both;}

/*banner*/
#banner{width: 100%;height: 300px;background:url(../images/QwgA84rAI.jpg) no-repeat center center;margin-top: 10px;}



#footer .con{width: 1200px;height:628px;margin:0px auto;overflow:hidden;}
#footer .con .points{width: 1200px;height: 200px;margin-top: 70px;}
#footer .con .points .left{width: 600px;height: 200px;margin-right: 58px;}
#footer .con .points .right{width: 542px;height: 200px;}
#footer .con .points .right .bt h1{font-weight: 400;font-size: 18px;margin-top: 10px;}
#footer .con .points .right .bt p{color:#999999;font-size: 14px;margin-top: 10px;}
#footer .con .points .right .lb{margin-top: 38px;}
#footer .con .points .right .lb ul li{font-size: 16px;line-height: 32px;}
#footer .con .points .right .lb ul li span{padding-right: 16px;	}
#footer .com .points::after{display:block;content: "";clear: both;}




/*底部特效*/
#footer .con .picture{margin-top: 54px;}
#footer .con .picture ul li{
	float: left;
	margin-left: 25px;
	width: 280px;
	height: 280px;
	position: relative;
	}
#footer .con .picture ul li img{position:absolute;}
#footer .con .picture ul li span{
	display:block;
	width: 280px;
	height: 280px;
	position:absolute;
	background: -webkit-linear-gradient(
     -15deg,
     rgba(0,0,255,0) 20%,
     rgba(255,255,255,1) 30%,
     rgba(0,0,255,0) 40%) no-repeat -120px  0px;
	transition:1s;
}
#footer .con .picture ul li div{
	width: 280px;
	height: 280px;
	position: absolute;
	transition:1s;
	text-align: center;
	line-height:280px;
	color:transparent;
	font-size: 40px;
}
#footer .con .picture ul li:hover div{
	border:1px solid #fff;
	transform: scale(.8);
	color: #fff;
}
#footer .con .picture ul li:hover span{
	background:rgba(0,0,255,.2) -webkit-linear-gradient(
     -15deg,
     rgba(0,0,255,0) 20%,
     rgba(255,255,255,1) 30%,
     rgba(0,0,255,0) 40%) no-repeat 400px  0px;
}

#footer .con .picture ul li:first-child{margin-left: 0px;}
#footer .com .picture::after{display:block;content: "";clear: both;}

#footer .bg{width: 1200px;margin:0 auto;margin-top: 20px;}


#footer .foot{width: 100%;height: 352px;background:url(../images/wUoub3CqAMwlgE4ogI.jpg) repeat-x 0px 0px;background-size: 100% 100%;margin-top: 70px;}
#footer .foot .top_nav{width: 1030px;height: 262px;margin:0px auto;}
#footer .foot .top_nav .top_ul{width: 100%;height: 130px;border-bottom: 1px solid #434343;}
#footer .foot .top_nav .top_ul  ul{width: 1080px;}
#footer .foot .top_nav .top_ul ul li{float: left;width: 240px;height: 60px;background:red;padding-left: 50px;color: #fff;margin-left: 60px;margin-top: 46px;}
#footer .foot .top_nav .top_ul li span{color:#999999;}
#footer .foot .top_nav .top_ul li.list_1{background:url(../images/jgy.png) no-repeat -8px 0px;}
#footer .foot .top_nav .top_ul li.list_2{background:url(../images/tel.png) no-repeat  -8px  0px;}
#footer .foot .top_nav .top_ul li.list_3{background:url(../images/emall.png) no-repeat  -8px  0px;}
#footer .foot .top_nav .btm_ul ul{width: 700px;	margin:60px auto;}
#footer .foot .top_nav .btm_ul ul li{float: left;}
#footer .foot .top_nav .btm_ul ul li a{padding:0px 44px;border-right: 1px solid #999;color: #999;}
#footer .foot .btm_ul ul li:last-child a{border: none;}
#footer .foot .btm{width: 100%;height:90px;text-align: center;overflow: hidden;}
#footer .foot .btm p{color: #CCCCCC;margin-top: 38px;}
#footer .foot .btm p:last-child{margin-top:0px;}
